<div id="articles">
    <article class="article-item" >
        <div class="image-wrap" >
            <img src="{{pelicula.image}}" alt="">
        </div>
        <div>
        <h2 >{{pelicula.title}}</h2>
        <span class="date">
            hace 5 minutos
            <a href="#">Leer mas</a>
    
        </span>
        <span class="year" [style.background]="pelicula.year > 2016 ? 'green' : 'red'" >
            {{pelicula.year}}
        </span>

        <button (click)="seleccionar(pelicula)">
            Seleccionar como favorita
        </button>
     
    </div>
    </article>
    </div>
    